@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
   font-family: "Work Sans", sans-serif;
}
.dark1{
   color:#131313;
}
.dark2{
   color:#424242;
}
.dark3{
   color:#727272;
}
.or{
   color:#FF900E;
}
.emBtn{
   padding:20px 24px;
   background-color:#FF900E;
   color:#FFFFFF;
   border:none;
   border-radius:8px;
   font-size:1.1rem;
   font-weight:650px;
}
/* Header design */
header{
   padding: 30px 100px;
   background-color:rgba(255, 144, 14, 0.1);
}
#navbar{
   display:flex;
   justify-content:space-between;
   align-items:center;
}
#navbar ul{
   display:flex;
   gap:35px;
}
#navbar ul li{
   list-style:none;
}
#navbar ul li a{
   text-decoration:none;
}
#bannerImg{
   width:100%;
   margin-top:50px;
   border-radius:8px;
}
#bnText{
   font-size:4rem;
   font-weight:700;
}
#bnDes{
   font-size:1rem;
   font-weight:600;
}
#arc{
   text-align:center;
}
#hemBtn{
   margin-top:50px;
}
/* First part of main section design started from here */
#qlist{
   display:flex;
   align-items:center;
   padding:60px 100px;
   gap:40px;
}
#qimg img{
   width:100%;
   border-radius:8px;
}
#qimg{
   display:grid;
   grid-template-columns:repeat(2,250px);
   gap:10px;
}
#q>*{
   margin:15px;
}
#quh{
   font-size:2.5rem;
}
#qudes{
   font-size:1rem;
}
/* Features section design code */
#features{
   display:grid;
   grid-template-columns:repeat(2,1fr);
   gap:30px;
   padding:60px 30px;
}
#imgb img{
   width:100%;
   border-radius:8px;
}
#featureH{
   font-size:2.2rem;
   border-left:5px solid #FF900E;
   padding-left:20px;
}
#featureP{
   font-size:0.6rem;
}
.cardH{
   font-size:1.3rem;
}
.card{
   border-radius:8px;
   margin-bottom:12px;
   padding:18px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}
#year{
   font-size:4rem;
}
#tenYeaarb{
   margin-top:-70px;
   margin-left:-20px;
}
/* Some facts design start */
#someFacts{
   padding: 50px 70px;
}
#someFactsh{
   font-size:2.3rem;
}
#someFactsdes{
   font-size:1rem;
   max-width:500px;
}
#boxContainer{
   padding:50px;
   display:flex;
   flex-direction:row;
   gap:60px;
}
.box{
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   padding:10px;
   width:150px;
   height:150px;
   border: 2px solid #FF900E;
   border-radius:8px;
}
.box div img{
   width:42px;
   height:42px;
}
.box div>*{
   margin:0;
   padding:0;
}

/* Responsive design code started from here */
@media screen and (max-width: 576px){
   header{
      padding:20px 20px;
   }
   #navbar{
      flex-direction:column;
   }
   #navbar ul{
      flex-direction:column;
      text-align:center;
      padding:0px;
   }
   #bnText{
      font-size:2rem;
   }
   .emBtn{
      margin-top:25px;
   }
   /* First part of main section */
   #qlist{
      flex-direction:column;
      padding:20px 15px;
   }
   #qimg{
      grid-template-columns:repeat(1,100%);
   }
   /* Second part of main section */
   #features{
      grid-template-columns:repeat(1,1fr);
      padding:40px 20px;
   }
   #year{
      font-size:2rem;
   }
   #tenYeaarb{
      margin-top:12px;
      margin-left:0px;
   }
   /* Some Facts section */
   #someFacts{
      padding: 20px 20px;
   }
   #someFactsh{
      font-size:1.5rem;
   }
   #boxContainer{
      padding:10px;
      flex-direction:column;
      gap:20px;
   }
   .box div img{
      width:42px;
      height:42px;
   }
   
}