@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
   font-family: "Work Sans", sans-serif;
}
.dark1{
   color:#131313;
}
.dark2{
   color:#424242;
}
.dark3{
   color:#727272;
}
/* Header design */
header{
   padding: 30px 100px;
   background-color:rgba(255, 144, 14, 0.1);
}
#navbar{
   display:flex;
   justify-content:space-between;
   align-items:center;
}
#navbar ul{
   display:flex;
   gap:35px;
}
#navbar ul li{
   list-style:none;
}
#navbar ul li a{
   text-decoration:none;
}
#bannerImg{
   width:100%;
   margin-top:50px;
   border-radius:8px;
}
#bnText{
   font-size:4rem;
   font-weight:700;
}
#bnDes{
   font-size:1rem;
   font-weight:600;
}
#arc{
   text-align:center;
}
#emBtn{
   padding:20px 24px;
   background-color:#FF900E;
   color:#FFFFFF;
   border:none;
   border-radius:8px;
   margin-top:50px;
}


/* Responsive design code started from here */
@media screen and (max-width: 576px){
   header{
      padding:20px 20px;
   }
   #navbar{
      flex-direction:column;
   }
   #navbar ul{
      flex-direction:column;
      text-align:center;
      padding:0px;
   }
   #bnText{
      font-size:2rem;
   }
   #emBtn{
      margin-top:25px;
   }
}